@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat';
    background-color: #0E0E0E
}
.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 25px;
    z-index: 2;
    display: none;
}
.menu-btn i{
    color: white;
}
.container{
    width: 75%;
    margin: auto;
}
a{
    color: white;
    text-decoration: none;
}
p{
    color: white;
}
h2{
    color: white;
}
ul{
    list-style: none;
}
.nav-maim{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.nav-logo{
    width: 50px;
}
.nav-maim ul{
    display: flex;
}
.nav-maim li{
    padding: 20px;
}
.nav-maim a:hover{
    color:rgb(0, 110, 255);
}
.nav-maim ul.nav-menu.show{
    transform: translate(-0px);
    transition: transform .05s ease-in-out;
}
.grid{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
}
.card{ 
    display: flex;
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    width: 300px;
    height: 500px;
    margin: 20px 10px;
    background-color: rgb(34, 34, 34);
    transition: transform .3s;
    &:hover{
        transform:scale(1.02);
    }
}
.color-bg{
    
    position: absolute;
    width: 300px;
    height: 30px;
    background-color: aqua;

}

.content{
    padding: 20px;


    &-img{
        border-radius: 20px;
        margin: 10px 0px;
        width: 100%;
    }
}



@media (max-width: 1000px){
    .grid{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 700px){

    .nav-maim ul.nav-menu{
    
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgb(18, 18, 18);
        height: 50%;
        width: 100vw;
        opacity: .9;
        transform: translateX(-700px);
    }
    .nav-menu li{
        text-align: center;
    }
    .menu-btn{
        display: block;
    }

    .grid{
        grid-template-columns: auto;
    }

}



