:root {
    --color1: #0a411b;
  }
  
  html {
    font-family: monospace;
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *{
    margin: 0;
    padding: 0;
  }
  header{
    display: flex;
    justify-content: center;
    background-color: black;
  }

  .box{
    padding: 10px;
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

    &-logo{
        width: 50px;
    }
    &-link{
        font-size: 20px;
        text-decoration: none;
        color: white;
    }
    &-btn{
        padding: 10px 30px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        border-radius: 15px;
        border: 2px solid white;
    }
    &-btn:hover{
        background-color: rgb(0, 255, 106);
        border-radius: 15px;
        border: 2px solid rgb(0, 255, 106);

    }
  }

//RESPONSIVE
  @media (max-width: 560px) {
    header{
      width: 100vw;
      height: 100vh;
    }
    .box{

        justify-content: center;
        padding: 10px;

        &-link{
            padding: 0px 10px;
            font-size: 14px;
        }
        &-btn{
            display: none;
        }

    }


  }
  
